header{
    display: flex;
    justify-content: space-around;
    /*background-image: url('image/bg.jpeg');*/
}
header h1{
   text-align: center;
}
header h1:hover{
    background: linear-gradient(to right , red,white,orange,blue);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 25px; 
}
hr{
    border-width: 1px;
    border-color: red;
    border-radius: 50px;
}
nav a:hover{
    color: red;
}
nav a:focus{
    color: orange;
}
.media{
    display: flex;
    justify-content: flex-end;
}
